.tech {
  background-color: black;
  //   height: 100vh;
  color: white;
  padding: 2rem;
  position: relative;
  background: url("./assets/aboutbg.jpg") no-repeat center center/cover;

  .tech-main {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .tech-text {
      text-align: center;
      border: 10px solid white;
      height: 85vh;
      border-radius: 50px;
      padding: 50px;
      width: 100%;
      //   background-color: #1e1e1e;
      /* From https://css.glass */
      background: rgba(1, 1, 1, 0.3);
      border-radius: 30px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      overflow-x: hidden !important;
      place-content: center;
      display: flex;
      align-items: center;
      .tech-title {
        width: 60%;
        padding: 20px 0;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
      }

      h2 {
        font-size: 4rem;
        font-family: $font-orbitron;
        line-height: 0.3;
        padding: 20px 0;
        letter-spacing: 8px;
        text-align: left;
        margin-bottom: 2rem;
        place-content: center;
      }

      .tech-icons {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .tech-icon {
          width: 50px;
          height: 50px;
          margin: 10px;
          animation: float 6s ease-in-out infinite;
        }
      }

      .tech-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;

        .tech-category {
          background-color: #2e2e2e;
          border-radius: 20px;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }

          ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            gap: 1rem;

            li {
              display: flex;
              flex-direction: column;
              align-items: center;
              font-size: 1.2rem;
              margin-bottom: 0.5rem;
              text-align: center;

              img {
                width: 50px;
                height: 50px;
                margin-bottom: 0.5rem;
              }
            }
          }
        }

        .tech-category:nth-child(3),
        .tech-category:nth-child(4),
        .tech-category:nth-child(5) {
          grid-column: span 1;
        }
      }
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .sliding-logos {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;

    .logo-track {
      display: inline-block;
      animation: slide 20s linear infinite;
    }

    .logo-container {
      display: inline-block;
      width: 144px; /* Adjust width as needed */
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        margin: 0 20px;
      }

      p {
        margin-top: 10px;
        font-size: 1.2rem;
        color: white;
      }
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 1024px) {
  .tech-main {
    flex-direction: column;
    align-items: center;
    height: 50vh !important;
  }

  .tech-text {
    height: auto;
    padding: 30px !important;
  }

  .tech-title {
    width: 80% !important;
  }

  h2 {
    font-size: 2.5rem !important;
  }

  .tech-icons .tech-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .tech {
    padding: 50px 20px !important;
    width: calc(100vw - 40px) !important;
    overflow: hidden !important;
    height: 50vh !important;
  }
  .tech-text {
    padding: 20px;
  }

  h2 {
    font-size: 2.5rem;
  }

  .tech-icons .tech-icon {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .tech-text {
    padding: 0px !important;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: space-between;
    height: 100vh !important;
    .tech-title {
      width: 100% !important;
      padding: 0% !important;
      border: none !important;
      h2 {
        padding: 0px !important;
        font-size: 2.5rem !important;
        text-align: center !important;
      }
    }
  }

  .tech-icons .tech-icon {
    width: 30px;
    height: 30px;
  }
}
