@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
$font-noto-sans: "Noto Sans", sans-serif;
$font-gajraj-one: "Gajraj One", sans-serif;
$font-orbitron: "Orbitron", sans-serif;
$font-asar: "Asar", serif;

$color-primary: #333;
$color-secondary: #ff6347;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #8d8d8d;
